/* ==========================================================================
 propos / components
 ========================================================================== */

.propos {
    text-align: center;
    margin: 50px 0;

    .debut{

        text-align: center;

        h2{
            text-align: center;
            font-size: 6rem;
            margin: 10px 0;
            text-decoration: underline;

            @media only screen and (max-width: $breakpoint-sm){
                font-size: 3rem;
            }
        }

        .intro{
            text-align: center;
            font-size: 1.5rem;
            margin: 40px auto;
            width: 50%;


        }

        .test{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .moi{
                width: 25%;
                border: 10px solid var(--color-secondary);
                margin: 40px 0;

                @media only screen and (max-width: $breakpoint-sm){
                    width: 100%;
                }
            }
        
            .button{
                margin: 40px 0;
            } 
        }
    }
   
   

   .section{
       display: flex;
       justify-content: space-around;
       align-items: center;
       flex-direction: row;

       @media only screen and (max-width: $breakpoint-sm){
        flex-direction: column;
    }
   }

   .passions{
        margin: 20px 0;

        h3{
            font-size: 3rem;
            margin-bottom: 20px;
            @media only screen and (max-width: $breakpoint-sm){
                font-size: 2rem;
            }
        }

        .passion{
            display: flex;
            justify-content: space-around;
            text-align: center;
            flex-direction: row;
           .pas{
               margin: 0 5px;
            text-align: center;
                img{
                    width: 50%;
                }

                p{
                    font-size: 1.5rem;
                    margin: 0;
                }
            } 
        }
        
       
   }

   .competences{

    

    margin: 20px 0;
       h3{
           font-size: 3rem;
           margin-bottom: 20px;
           @media only screen and (max-width: $breakpoint-sm){
            font-size: 2rem;
        }
       }

       .logs{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row; 
            img{
                
                width: 22%;
                
            }
       }
   }

   .qualites{

    margin: 20px 0;

        h3{
            font-size: 3rem;
            margin-bottom: 20px;
            @media only screen and (max-width: $breakpoint-sm){
                font-size: 2rem;
            }
        }
        
        .quals{

            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            .qualite{
                
                text-align: center;
                margin: 0 5px;
                p{
                    font-size: 1.5rem;
                    margin: 0;
                }
            }
        }
   }

   .interets{

    margin: 20px 0;
       h3{
           font-size: 3rem;
           margin-bottom: 20px;
           @media only screen and (max-width: $breakpoint-sm){
            font-size: 2rem;
        }
       }

       .interet{
           display: flex;
           justify-content: space-around;
           align-items: center;
           flex-direction: row;

           .int{
                margin: 20px;
               p{
                    font-size: 1.5rem;
                    margin: 0;
               }
           }
       }
   }

   
}