/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;

    // Couleurs du projet
    --color-primary: #B4CBD9;
    --color-secondary: #6D7F8D;
    --color-tertiary: #0A0B0D;
    --color-4e: #464E59;
    

    --color-bg-primary: #1B2026;
    
}
